<mat-card class="menucard">
    <mat-card-content>
    <button mat-raised-button routerLinkActive="active" routerLink="/product-list" class="menubtn">Termék lista</button>
   <button mat-raised-button routerLinkActive="active" routerLink="/product-create" class="menubtn">Termék hozzáadása</button>
   <button mat-raised-button routerLinkActive="active" routerLink="/account-info" class="menubtn">Fiók</button>
   <button mat-raised-button  routerLinkActive="active" (click)=logout() class="logout">Kijelentkezés</button>
  </mat-card-content>
  </mat-card>
  